* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  margin: 0;
}

header {
  background-color: #F55A5A;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.page-title {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.075em;
}