* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  margin: 0;
  position: fixed;
}

/** TYPOGRAPHY **/

h1 {
  margin-top: 0;
}

h5 {
  margin: 0;
}

/** HEADER **/

header {
  background-color: #F55A5A;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: 100vw;
}

.page-title {
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.075em;
}

/** CARD **/

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 36px; /** MAYBE REPLACE **/
}

.card {
  display: flex;
  align-items: center;
  padding: 2em;
}

.card-img {
  width: 125px;
  height: 168px;
  max-width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 19px;
}

.card-info {
  display: flex;
  flex-direction: column;
}

.card-location {
  font-size: 10px;
  margin-bottom: 4px;
}

.location-marker {
  margin-right: 0.25em;
}

.card-location-title {
  color: #2B283A;
  text-transform: uppercase;
  letter-spacing: 0.17em;
  margin-right: 12px;
}

.card-google {
  color: #918E9B;
}

.card-duration {
  margin-bottom: 9px;
}

.card-description {
  margin: 0;
}